body {
  background-color: #DA0037;
  font-family: 'Recursive';
  line-height: 1.5;
  text-align: center;
  overflow: hidden;
}

h1 {
  color: gold;
  font-family: 'Montserrat';
}

h3 {
  line-height: 2;
}

p {
  font-family: 'Recursive';
}

.btn {
  background-color: gold;
  border-radius: 5px;
  font-family: 'Montserrat';
  position: relative;
  margin-top: 39%;
  margin-left: 1%;
  height: 40px;
  width: 150px;
}

.btn:hover {
  background-color: #FFC947;
}

.cookie {
  height: 50%;
  position: absolute;
  top: 15%;
  right: 24%;
  width: 50%;
}

.new-fortune {
  background-color: gold;
  border-radius: 5px;
  font-family: 'Montserrat';
  position: relative;
  margin-top: 41%;
  margin-left: 45%;
  height: 40px;
  width: 150px;
}

.paper {
  background-color: white;
  height: 100px;
  position: absolute;
  top: 72%;
  left: 25%;
  width: 800px;

}

.paper-text {
  font-size: 1.3rem;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #FFC947;
}
