body {
  background-color: #DA0037;
  font-family: 'Montserrat';
  line-height: 1.5;
  text-align: center;
  overflow: hidden;
}

.btn {
  background-color: gold;
  border-radius: 5px;
  font-family: 'Montserrat';
  position: relative;
  margin-top: 39%;
  margin-left: 1%;
  height: 40px;
  width: 150px;
}

.btn:hover {
  background-color: #FFC947;
}

.cookie {
  height: 50%;
  position: absolute;
  top: 15%;
  right: 24%;
  width: 50%;
}

.paper {
  background-color: white;
  height: 100px;
  position: absolute;
  top: 72%;
  left: 25%;
  width: 800px;

}

.paper-text {
  font-family: 'Recursive';
  font-size: 1.3rem;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #FFC947;
}

.title {
  color: gold;
}

@media (max-width: 900px) {

  .btn {
    font-size: 1.2rem;
    height: 70px;
    width: 170px;
    margin-top: 75%;
  }

  .cookie {
    height: 20%;
    right: 15%;
    width: 70%;
  }

  .paper {
    width: 60%;
    left: 20%;
  }

  .paper-text {
    font-size: 0.8rem;
    line-height: 2;
  }
}

@media (min-width: 901px) and (max-width: 1336px) {

  .btn {
    height: 100px;
    font-size: 2rem;
    width: 300px;
    margin-top: 70%;
  }

  .cookie {
    height: 35%;
    left: 10%;
    width: 85%;
  }

  .paper {
    height: 170px;
    margin-top: 50px;
    width: 70%;
    left: 15%;
  }

  .paper-text {
    font-size: 1.8rem;
  }

  .title{
    font-size: 3.5rem;
  }


}
